{{- /*
    shortcodes/hint.html

    Creates colored alert boxes with semantic types.

    Usage:
        {{< hint >}}
        Unlabeled alert box with grey border.
        {{< /hint >}}

        {{< hint warning >}}
        Alert with colored label and border.
        {{< /hint >}}

    Available types:
        - info      (cyan)
        - note      (magenta/purple)
        - warning   (orange)
        - success   (green)
        - error     (red)
        - important (yellow)

    Renders with colored left border and label, white text on dark grey background.
*/ -}}

{{- $type := .Get 0 | default "" | lower -}}

{{- if eq $type "" -}}
  <div class="hint-box">
    {{ .Inner | markdownify }}
  </div>
{{- else -}}
  <div class="hint hint-{{ $type }}">
    <div class="hint-label">{{ $type }}</div>
    <div class="hint-content">{{ .Inner | markdownify }}</div>
  </div>
{{- end -}}
